<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <title>CRUD: PESSOAS</title>
</head>

<body>
    <div id="app">

    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',

            template: ` 
                <div class="container">
                    <h1>Lista de pessoas</h1>
                    <hr>
                    <div class="form-todo form-group">
                        <p>
                            Nome
                            <input type="text" name="nome" id="name" placeholder="Ex.: Fulano de Tal Sicrano"
                                class="form-control" v-model="name">
                        </p>
                        <p>
                            CPF
                            <input type="text" name="cpf" id="cpf" placeholder="Ex.: 000.000.000-00"
                                class="form-control" v-model="cpf">
                        </p>
                        <p>
                            Data de nascimento
                            <input type="date" name="dt_birth" id="name" placeholder="Data de nascimento"
                                class="form-control" v-model="dt_birth">
                        </p>
                        <p>
                            Salário
                            <input type="number" name="salary" min="0" step="any" id="name" placeholder="Ex.: R$ 500,00"
                                class="form-control" v-model="salary">
                        </p>
                        <button v-on:click.prevent="addPerson" type="submit" class="btn btn-primary">Adicionar pessoa</button>
                        <button v-on:click.prevent="saveUpdate" type="submit" class="btn btn-primary" hidden="true">Salvar alteração</button>
                        <hr />
                    </div>
                    <div class="list-group">
                        <div class="list-group-item" v-for="pessoa in pessoas">
                            <span class="pessoa_name"><b>Nome:</b> {{pessoa.name}}</span><br>
                            <span class="pessoa_cpf"><b>CPF:</b> {{pessoa.cpf}}</span><br>
                            <span class="pessoa_dt_birth"><b>Data de nascimento:</b> {{pessoa.dt_birth}}</span><br>
                            <span class="pessoa_salary"><b>Salário:</b> R$ {{pessoa.salary}}</span><br>
                            <div>
                                <p>
                                <a href="#" title="Excluir" @click.prevent="removePerson()">Excluir</a>
                                <a href="#" title="Editar" @click.prevent="updatePerson()">Editar</a>
                                </p>
                            </div>
                        </div>    
                    </div>
                    <hr />
                </div>
              `,
            data() {
                return {
                    pessoas: [{
                        name: 'Emerson',
                        cpf: '047.455.621-28',
                        dt_birth: '13/11/2000',
                        salary: 500.00
                    }, ],
                    name: '',
                    cpf: '',
                    dt_birth: new Date(0),
                    salary: 0.0,
                }
            },
            computed: {
                enableSalve() {
                    console.log('aqui vai a função para habilitar ou desabilitar o edit');
                },

            },
            watch: {
                //monitora os atributo do date(){}
            },
            methods: {
                addPerson() {
                    if (this.checkForm()) {
                        var p = {
                            name: this.name,
                            cpf: this.cpf,
                            dt_birth: this.dt_birth,
                            salary: this.salary
                        };
                        this.pessoas.push(p);
                    } else {
                        alert("Complete corretamente todos os campos do formulário");
                    }

                    this.name = '';
                    this.cpf = '';
                    this.dt_birth = new Date(0);
                    this.salary = 0.0;
                },
                checkForm() {
                    if (this.name == '') {
                        return false
                    } else if (this.dt_birth.toString() === new Date(0).toString()) {
                        //pode ser melhorado
                        return false;
                    } else if (this.salary < 0) {
                        //coloquei min no input, porem por segurança
                        return false;
                    } else if (this.cpf == '') {
                        //add mask in future
                        return false
                    } else if (this.alreadyCPF(this.cpf)) {
                        return false;
                    } else {
                        return true;
                    }
                },
                alreadyCPF(cpf) {
                    return false;
                },
                removePerson() {
                    console.log('remove person');
                },
                updatePerson() {
                    console.log('update person');

                }


            }
        });
    </script>
</body>

</html>